body {font-family: 'Josefin Sans', sans-serif;color: #ffffff;background-image: url('../img/light_dot.jpg');}
html{scroll-behavior: smooth;}
a {text-decoration: none !important;color: #ffffff;}
a:hover{color: #220423 !important;}
#home{background-image: url('../img/22.jpg'); background-size: cover;height: 100vh; }
.shadwo{background-color: #2C2C2C;opacity: 0.4;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
h3 , h4 ,h5 {margin: 0;}
.leftnave{width: 227.656;height: 100vh;background-color: #1C0620;position: fixed;display: flex;justify-content: center;left: -227.656;z-index: 550;}
.contant{display: flex;}
.righttext{height: 100vh;width: 100%;position: relative;display: flex;justify-content: center;align-items: center;}
.navtext{background-color: #801E4F;border-radius: 8px;transition: all .5s;}
.navtext:hover{background-color: #F69CDB;cursor: pointer;color: #220423;}
.navrow{position: absolute;top: 30%;}
.menuicon{font-size: 40px;position: absolute;left: 235;top: 47%;cursor: pointer;z-index: 44333;transition: all .5s;color:#F69CDB ;}
.closeicon{font-size: 30px;position: absolute;left: 180;top: 2%;cursor: pointer;z-index: 44;transition: all .5s;}
.closeicon:hover{color: #F7689E;}
.menuicon:hover{color: #F7689E;}
#Details h4 {background-color: #A95072;cursor: pointer;}
.weltext{position: relative;}
.Detailsp{background-color: rgb(78, 78, 78);display: none;padding: 10px;}
.mainback{background-image: url('../img/22.jpg'); background-size: cover;height: 40vh;background-position: top;font-size: 5rem;}
.onecount{border: 2px solid #F7689E;}
.icon span {background-color: #801E4F;color: #ffffff;width: 50px;height: 30px;font-size: 25px;cursor: pointer;transition: all .5s;}
.icon span:hover{background-color:#F7689E ;color: #220423;}





@media only screen and (max-width: 600px) {
    .mainback{height: fit-content;}
    .col-md-3{margin-bottom: 10px;}
}